<form action="/auth/login" method="POST">
  <div class="form-group">
    <label for="email">Email</label>
    <input class="form-control" name="email" type="email"></label>
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input class="form-control" name="password" type="password"></label>
  </div>
  <input class="btn btn-primary" type="submit">
</form>
