<form action ="/auth/signup" method="POST">
  <div class="form-group">
    <label for="first_name">First Name</label>
    <input class="form-control" name="first_name" type="text"></label>
  </div>
  <div class="form-group">
    <label for="last_name">Last Name</label>
    <input class="form-control" name="last_name" type="text"></label>
  </div>
  <div class="form-group">
    <label for="email">Email</label>
    <input class="form-control" name="email" type="email"></label>
  </div>
  <div class="form-group">
    <label for="username">Username</label>
    <input class="form-control" name="username" type="text"></label>
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input class="form-control" name="password" type="password"></label>
  </div>
  <input class="btn btn-primary" type="submit">
</form>
